doctype html

include mixins/slide
include mixins/main-title

- const title = "Die Riemann Hypothese"

html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		title= title

	body(style="display: none")
		div.reveal
			div.slides
				section
					// this is empty because
					// we don't want to show anything
					// until everyone is ready
					div(data-hide-me-on-print)

				section(data-center)
					span.main-title-size= title
					div.main-title-placeholder-spacer

				section
					+main-title("Inhalt")
					div.slide-container(data-no-fragment=!useFragments)
						ul 
							li Millenium Problems
							li Riemann Zeta Function
							li Basel Problem
							li Complex Riemann Zeta Function
							li Holomorphic Function
							li Analytic Continuation
							li The actual question
							li Prime Numbers
					
					aside.notes
						include:markdown-it slides/Inhalt_notes.md

				section
					+main-title("Millenium Problems")
					div.slide-container(data-no-fragment=true)
						ul
							li Vermutung von Birch und Swinnerton-Dyer
							li Hodge conjecture
							li Navier-Stokes-Gleichungen (Existenz und Regularität v. Lösungen)
							li P-NP-Problem
							li Poincaré-Vermutung
							li Riemannsche Vermutung
							li Yang-Mills-Gleichungen und Existenz der Massenlücke
					aside.notes
						include:markdown-it slides/Problems_notes.md

				section
					+main-title("Die Riemann-Hypothese")
					div.slide-container(data-no-fragment=false)
						ul
							li zuerst vorgeschlagen im Jahr 1959
							li "der Heilige Gral der Mathematik"
							li verbunden mit vielen Teilbereichen, hauptsächlich Primzahlen
						p(class="fragment") Wer war Riemann?
						img(src="images/Georg_Friedrich_Bernhard_Riemann.jpeg" width="200" class="fragment riemann-image")
						ul
							li Georg Friedrich Bernhard Riemann, 1826–1866
							li Hauptsächlich tätig in Differentialgeometrie
							li hat eine Veröffentlichung in Zahlentheorie veröffentlicht

					aside.notes
						include:markdown-it slides/Basel_notes.md

				section
					section(data-no-fragment=false)
						+main-title("Komplexe Riemann-Zeta Funktion")
						div.slide-container(data-no-fragment=false)
							p Die Riemann-Zeta Funktion ist definiert als:

							p $\zeta(s) = \sum_{n=1}^{\infty} \frac{1}{n^s} $, mit $ s \in \mathbb{C} $

							p(class="fragment") unendliche Reihe über komplexe Zahlen: 
							ul
								li Was bedeutet ein komplexer Exponent? 
								li konvergent? 
								li Was ist der Definitionsbereich?
								li Was ist der Wertebereich?


					section(data-background-iframe="mathbox/complex-numbers.html" data-background-interactive=true)
					section

					aside.notes
						include:markdown-it slides/Complex_notes.md

				section
					+main-title("Basel Problem")
					div.slide-container(data-no-fragment=true)

					aside.notes
						include:markdown-it slides/Basel_notes.md

				section
					+main-title("Holomorphic Function")
					div.slide-container(data-no-fragment=true)

					aside.notes
						include:markdown-it slides/Holomorphic_notes.md

				section
					+main-title("Analytic Continuation")
					div.slide-container(data-no-fragment=true)

					aside.notes
						include:markdown-it slides/Continuation_notes.md

				section
					+main-title("")
					div.slide-container(data-no-fragment=true)

					aside.notes
						include:markdown-it slides/question_notes.md

				section
					+main-title("Prime Numbers")
					div.slide-container(data-no-fragment=true)

					aside.notes
						include:markdown-it slides/Primes_notes.md

				section
					+main-title("Julia Sets")
					div.slide-container(data-no-fragment=true)

					aside.notes
						include:markdown-it slides/Julia_notes.md


		script(src="bundle.js")